/*  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* Root */
:root{
    /* Light Mode color Code */
    --bg-light: #f1f1f1;
    --primary-light: #181818;
    --secondary-light: #f3680b;
    --tertiary-light: #505050;

    /* Dark Model Color */
    --bg-dark: #313131;
    --primary-dark: #fbfbfb;
    --secondary-dark: #351e98;
    --tertiary-light: #a7a7a7;
}

.btn{
    width: auto;
    height: auto;
    padding: 5px 13px;
    background: var(--secondary-light);
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primary-light);
    outline: none;
    border: 2px solid var(--secondary-light);
    cursor: pointer;
}



/* Main Section */
.main_section{
    width: 100%;
    min-height: 100vh;
    background: #f1f1f1;
    padding: 40px 150px;
}


/* Navbar Section */
.navbar_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_items{
    display: flex;
    align-items: center;
    column-gap: 1.4rem;
}
.nav_items ul{
    display: inline-block;
}
.nav_items li{
    display: inline-block;
    margin-left: 1.2rem;
}
.nav_items li a{
    font-size: 1.2rem;
}






/* End of The Code */