/*  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* Create own custom scrollbar */
/* Width */
::-webkit-scrollbar{
    width: 8px;
}
/* Scrollbar Track */
::-webkit-scrollbar-track{
    background: #f0f0f0;
}
/* Scrollbar Handle */
::-webkit-scrollbar-thumb{
    background: #a8a8a8;
}
/* Scrollbar Handle Hover */
::-webkit-scrollbar-thumb:hover{
    background: #9a9a9a;
}


/* Root */
:root{
    /* Light Mode color Code */
    --bg-light: #fefefe;
    --primary-light: #181818;
    --secondary-light: #f3680b;
    --tertiary-light: #5d5d5d;

    /* Dark Model Color */
    --bg-dark: #313131;
    --primary-dark: #fbfbfb;
    --secondary-dark: #351e98;
    --tertiary-dark: #a7a7a7;
}

.btn{
    width: auto;
    height: auto;
    padding: 5px 13px;
    background: var(--secondary-light);
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primary-light);
    outline: none;
    border: 2px solid var(--secondary-light);
    cursor: pointer;
}



/* Main Section */
.main_section{
    width: 100%;
    min-height: 100vh;
    background: var(--bg-light);
}


/* Navbar Section */
nav{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 150px;
    transition: all 0.3s ease-out;
}
nav.fixed{
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-light);
    padding: 15px 150px;
    border-radius: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.nav_items{
    display: flex;
    align-items: center;
    column-gap: 2.2rem;
}
.logo_section{
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--secondary-light);
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.nav_items ul{
    display: inline-block;
}
.nav_items li{
    display: inline-block;
    margin-left: 1.2rem;
}
.nav_items li a{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--tertiary-light);
    /* border-bottom: 3px solid transparent; */
    transition: 0.5s ease-out;
}
.nav_items li .active{
    font-weight: 500;
    color: var(--secondary-light);
    /* border-bottom: 3px solid var(--secondary-light); */
    border-radius: 0px ;
}
.nav_items li a:hover{
    color: var(--secondary-light);
    /* border-bottom: 3px solid var(--secondary-light); */
    border-radius: 0px ;
}

.nav_button{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.lightdark{
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
.lightdark i{
    font-size: 1.2rem;
}
.get_quote{
    color: var(--primary-dark);
}

.hero_section{
    width: 100%;
    height: auto;
    padding: 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.personal_data{
    width: 52%;
    height: auto;
}
.intro{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--tertiary-light);
    margin-bottom: 1.3rem;
}
.fullname{
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--primary-light);
    margin-bottom: 1.2rem;
}
.position{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
    color: var(--secondary-light);
    margin-bottom: 1.2rem;
}
.my_bio{
    font-size: 0.99rem;
    letter-spacing: 0.05rem;
    color: var(--tertiary-light);
    margin-bottom: 1.4rem;
}
.social_section{
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    margin-bottom: 2.2rem;
}
.social_box{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: 2px solid var(--secondary-light);
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-out;
}
.social_box:hover{
    background: var(--secondary-light);
}
.social_box i{
    font-size: 1.1rem;
    color: var(--tertiary-light);
    transition: 0.5s ease-out;
}
.social_box:hover i{
    color: var(--primary-dark);
}
.btn_group{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.download{
    background: transparent;
    border: 2px solid var(--secondary-light);
    padding: 7px 28px;
}

.talk_btn{
    padding: 7px 25px;
}

.img_section{
    width: 40%;
    height: 80vh;
}
.img_section .my_pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

/* About Us Section */
.about_section{
    width: 100%;
    height: auto;
    padding: 80px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.7rem;
}
/* Global Tag */
.tag{
    font-size: 2.7rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--primary-light);
    margin-bottom: 1.3rem;
}
.about_img{
    position: relative;
    width: 40%;
    height: 65vh;
}
.about_img img{
    width: 90%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.experience_box{
    position: absolute;
    bottom: 4rem;
    right: 0;
    width: auto;
    height: auto;
    padding: 20px 35px;
    background: var(--secondary-dark);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-dark);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: 0.2rem;
}
.experience{
    font-size: 4.8rem;
    font-weight: bolder;
    color: var(--secondary-light);
    display: flex;
    align-items: flex-start;
}
.experience span{
    font-size: 2.7rem;
    font-weight: 600;
    color: var(--secondary-light);
}
.about_data{
    width: 50%;
    height: auto;
}
.desc{
    font-size: 0.99rem;
    letter-spacing: 0.05rem;
    color: var(--tertiary-light);
    line-height: 1.5rem;
    margin-bottom: 1.4rem;
}
.work_detail{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    column-gap: 1.7rem;
    margin-bottom: 2rem;
}
.work_box{
    padding: 25px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 0.3rem;
}
.project_box{
    background: rgba(159, 140, 247, 0.9);
}
.client_box{
    background: rgba(247, 172, 140, 0.9);
}
.count_down{
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--secondary-light);
}
.work_title{
    font-size: 1.2rem;
    color: var(--primary-light);
}
.project_btn{
    padding: 9px 40px;
    font-size: 1.2rem;
}

/* Services Section */
.service_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.3rem;
    background: rgba(227, 221, 255, 0.9);
    padding: 40px 150px;
    border-radius: 0;
}
.service_data{
    width: 50%;
    height: auto;
}
.services_section{
    width: 40%;
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: end;
    flex-wrap: wrap;
    gap: 1.3rem;
}
.service_box{
    width: 370px;
    height: auto;
    padding: 20px 25px;
    background: transparent;
    border: 2px solid rgba(187, 172, 255, 0.9);
    cursor: pointer;
    transition: 0.3s ease-out;
}
.service_box:hover{
    background: rgba(187, 172, 255, 0.9);
}
.service_icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba(159, 140, 247, 0.9);
    border: 2px solid rgba(227, 221, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.9rem;
}
.service_icon i{
    font-size: 1.5rem;
    color: var(--primary-dark);
}
.service_title{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-light);
    letter-spacing: 0.1rem;
    margin-bottom: 0.7rem;
}






/* End of The Code */